# This is just a sample of .env so that you should know what fields are there in actual .env


PORT=8000
MONGO_URI=
SECRET_KEY=
OPENROUTER_API_KEY=
FRONTEND_URL=http://localhost:5173
RAZORPAY_KEY_ID=
RAZORPAY_SECRET=
