# This is just a sample of .env so that you should know what fields are there in actual .env


PORT = 8000
MONGO_URI = "mongodb+srv://markus:markus@cluster0.qekyjmm.mongodb.net/?appName=Cluster0"
SECRET_KEY="markusaralis"
OPENROUTER_API_KEY="open_api_key"
FRONTEND_URL = http://localhost:5173
RAZORPAY_KEY_ID=rzp_test_dummy123456789
RAZORPAY_SECRET=dummysecret123456789
